services:
  frontend:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./html:/usr/share/nginx/html:ro
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      backend_api:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - public_net

  backend_api:
    build: ./app
    environment:
      API_SECRET_KEY: ${API_SECRET_KEY}
      FLASK_APP: ${FLASK_APP}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    expose:
      - "5000"
    volumes:
      - ./app:/app # DEV ONLY (hapus di prod)
    healthcheck:
      test:
        [
          "CMD",
          "python",
          "-c",
          "import urllib.request; urllib.request.urlopen('http://127.0.0.1:5000/health')",
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    depends_on:
      db_server:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - public_net
      - private_net

  db_server:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - private_net

  redis_service:
    image: redis:alpine
    restart: unless-stopped
    networks:
      - private_net

networks:
  public_net:
    driver: bridge
  private_net:
    internal: true

volumes:
  db_data:
