name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build backend image
        run: |
          docker build -t backend_api ./app

      - name: Run backend container
        run: |
          docker run -d -p 5000:5000 --name backend_test backend_api
          sleep 10

      - name: Healthcheck backend
        run: |
          curl --fail http://localhost:5000/health

      - name: Stop container
        if: always()
        run: docker rm -f backend_test
